/* WelcomePage.css */
.welcome-navbar-container {
    background-color: var(--background);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add some shadow for better visual separation */
}

.tb-logo {
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding: 0 var(--spacing-2);
}

.hamburger-icon {
    display: none; /* Hide by default */
}

.design-system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.design-system-editor-content {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.design-system-editor-left-nav {
    flex: 0 0 250px;
    padding: 20px;
    background-color: var(--nav-color) !important;
}

.design-system-editor-right-content {
    flex-grow: 1;
    padding: 20px;
    color: var(--on-background);
    background: var(--background);
    vertical-align: top;
    font-family: var(--primaryFont);
    box-sizing: border-box;
}

.design-system-editor-right-content-scrollable {
    overflow-y: auto;
    max-height: calc(100vh - 180px); /* Ensure the content doesn't overflow the viewport */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block; /* Show hamburger icon on mobile */
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 11;
    }

    .design-system-editor-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .design-system-editor-right-content {
        width: 100%;
        max-width: 800px; /* Limit the max width */
        margin: 0 auto; /* Center the content */
        padding: 20px;
        padding-bottom: 40px; /* Add padding at the bottom */
    }

    .design-system-editor-left-nav {
        display: none; /* Hide left nav on mobile */
    }

    .design-system-editor-right-content-scrollable {
        max-height: calc(100vh - 130px); /* Adjust for header height */
    }
}
