.label-1  {
    font-family: var(--primaryFont);
    font-weight: var(--fontWeight-4);
    font-size: calc(var(--baseFont) * .875);
    line-height: var(--standard-LineHeight);
    letter-spacing: 1.25%;
    text-transform: none;
    margin-bottom: 10px;
}

section {
    margin-bottom: 15px;
}