div.MuiPopover-paper > ul.MuiMenu-list > div.shade-row {
    display: flex;
    overflow: hidden;
}
.baseLabel{
    font-size: var(--caption-boldFontSize);
    font-weight: var(--caption-boldFontWeight);
}
