<<<<<<< Updated upstream
=======
.color-block {
    display: inline-block;
    font-size: 11px;
    width: 96px;
    /* margin-bottom: 24px; changing to use side margins to provide some separation */
    margin: 0px 5px 24px 5px;
    vertical-align: top;
}
.Hex {
    width: 44px;
    height: 44px;
    border: 1px solid var(--border);
    border-radius:8px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
}
.color-block .Hex {
    margin: 8px auto !important;
}


.caption {
    font-family: var(--primaryFont);
    font-weight: var(--fontWeight-3);
    font-size: calc(var(--baseFont) * .75);
    line-height: var(--standard-LineHeight);
    letter-spacing: 0.5%;
}

.text-center {
    text-align: center!important;
}

>>>>>>> Stashed changes
.swatch-details.active {
    display: block;
}
