.titleBarDiv {
    width: 100%;
    background: var(--primary);
    color: var(--on-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleBarDiv .MuiSelect-select {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--on-primary);
}

.titleBarDiv .MuiSelect-icon {
    fill: var(--on-primary);
}

.titleBarDiv .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--on-primary);
    opacity: 0.5;
}

.titleBarDiv .left-titlebar {
    display: flex;
    align-items: center;
    margin: 8px;
}

.titleBarDiv .center-titlebar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px;
}

.titleBarDiv .right-titlebar {
    display: flex;
    align-items: center;
    margin: 8px;
}

.titleBarDiv .label {
    padding-right: 30px;
    text-transform: uppercase;
}