.container-flex {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.list-link {
    color: inherit;
    text-decoration: none
}
.list-link ~ .list-content {
  padding-left: var(--spacing-1);
}
