:root {
  --zoom: 1;
  --meshSVGfill: rgb(0,102,239);
  --transparent: rgba(0,0,0,0);
  --white: #ffffff;
  --white-half: rgba(255, 255, 255, 0.5);
  --on-white: var(--black);
  --black: #121212;
  --black-half: rgba(0,0,0, 0.5);
  --nearblack: #181818;
  --on-nearblack: #ffffff;
  --dm-white: rgba(255, 255, 255, 0.6);
  --dm-white-bg: var(--dm-midnight-600);
  --dm-on-white: #121212;
  --dm-on-white-bg: var(--dm-on-midnight-600);
  --on-black: #ffffff;
  --dm-on-black: rgba(255, 255, 255, 0.6);
  --dm-nearblack: rgba(255, 255, 255, 0.6);
  --dm-on-nearblack: rgba(255, 255, 255, 0.6);
  --textLight: var(--white);
  --textDark: var(--black);
  --dm-textLight: var(--dm-white);
  --dm-textDark: var(--black);
  --gray-0: #fafafa;
  --gray-100: #e4e4e4;
  --gray-200: #cdcdcd;
  --gray-300: #b7b7b7;
  --gray-400: #a0a0a0;
  --gray-500: #8a8a8a;
  --gray-600: #737373;
  --gray-700: #5d5d5d;
  --gray-800: #464646;
  --gray-900: #303030;
  --on-gradient-1: var(--on-gradient1-a);
  --on-gradient-2: var(--on-gradient2-a);
  --on-gradient-3: var(--on-gradient3-a);
  --on-gray-0: var(--black);
  --on-gray-100: var(--black);
  --on-gray-200: var(--black);
  --on-gray-300: var(--black);
  --on-gray-400: var(--black);
  --on-gray-500: var(--white);
  --on-gray-600: var(--white);
  --on-gray-700: var(--white);
  --on-gray-800: var(--white);
  --on-gray-900: var(--white);
  --dm-gray-0: #dfdfdf;
  --dm-gray-100: #c8c8c8;
  --dm-gray-200: #b1b1b1;
  --dm-gray-300: #9b9b9b;
  --dm-gray-400: #858585;
  --dm-gray-500: #6a6a6a;
  --dm-gray-600: #505050;
  --dm-gray-700: #383838;
  --dm-gray-800: #212121;
  --dm-gray-900: #070707;
  --dm-on-gray: var(--black);
  --dm-on-gray-0: var(--black);
  --dm-on-gray-100: var(--black);
  --dm-on-gray-200: var(--black);
  --dm-on-gray-300: var(--black);
  --dm-on-gray-400: var(--black);
  --dm-on-gray-500: var(--white);
  --dm-on-gray-600: var(--white);
  --dm-on-gray-700: var(--white);
  --dm-on-gray-800: var(--white);
  --dm-on-gray-900: var(--white);
  --primaryDarkBG: var(--black);
  --secondaryDarkBG: var(--black);
  --on-background-secondary: var(--on-gray-0);
  --dm-on-background-secondary: var(--dm-white);
  --background-tertiary: var(--primary);
  --on-background-tertiary: var(--on-primary);
  --dm-background-tertiary: var(--dm-primary-800);
  --dm-on-background-tertiary: var(--dm-white);
  --gradient-1: linear-gradient(45deg, var(--gradient1-a) 0%, var(--gradient1-b) 100%);
  --gradient-2: linear-gradient(45deg, var(--gradient2-a) 0%, var(--gradient2-b) 100%);
  --gradient-3: linear-gradient(45deg, var(--gradient3-a) 0%, var(--gradient3-b) 100%);
  --gradient-1a: '';
  --dm-gradient-1: linear-gradient(45deg, var(--dm-gradient1-a) 0%, var(--dm-gradient1-b) 100%);
  --dm-gradient-2: linear-gradient(45deg, var(--dm-gradient2-a) 0%, var(--dm-gradient2-b) 100%);
  --dm-gradient-3: linear-gradient(45deg, var(--dm-gradient3-a) 0%, var(--dm-gradient3-b) 100%);
  --text-gradient: linear-gradient(45deg, var(--text-gradient-a) 0%, var(--text-gradient-b) 100%);
  --dm-on-gradient-1: var(--dm-on-gradient1-a);
  --dm-on-gradient-2: var(--dm-on-gradient2-a);
  --dm-on-gradient-3: var(--dm-on-gradient3-a);
  --dm-text-gradient: linear-gradient(45deg, var(--dm-text-gradient-a) 0%, var(--dm-text-gradient-b) 100%);
  --dm-on-surface: var(--dm-on-background);
  --white-bg: #ffffff;
  --quiet: 68%;
  --disabled: 38%;
  --hover: 50%;
  --input-hover: rgba(255,255,255,.9);
  --active: 100%;
  --inset-border-0: 0 0 0 0 rgba(0,0,0,0);
  --inset-border-1: 0 0 0 var(--border-1) var(--icon);
  --inset-border-2: 0 0 0 var(--border-2) var(--icon);
  --inset-border-3: 0 0 0 var(--border-3) var(--icon);
  --inset-border-4: 0 0 0 var(--border-4) var(--icon);
  --dark-inset-border-1: 0 0 0 var(--border-1) var(--black);
  --dark-inset-border-2: 0 0 0 var(--border-2) var(--black);
  --dark-inset-border-3: 0 0 0 var(--border-3) var(--black);
  --dark-inset-border-4: 0 0 0 var(--border-4) var(--black);
  --white-inset-border-1: 0 0 0 var(--border-1) var(--white);
  --white-inset-border-2: 0 0 0 var(--border-2) var(--white);
  --white-inset-border-3: 0 0 0 var(--border-3) var(--white);
  --white-inset-border-4: 0 0 0 var(--border-4) var(--white);
  --min-target: 44px;
  --mobile-target: 44px;
  --animation-speed: 600ms;
  --animation-distance: 8px;
  --animation-focus-distance: 8px;
  --radius-0: 0px;
  --radius-1: 8px;
  --radius-2: calc(var(--radius-1) * 2);
  --radius-3: calc(var(--radius-1) * 3);
  --radius-4: calc(var(--radius-1) * 4);
  --radius-5: calc(var(--radius-1) * 5);
  --radius-6: calc(var(--radius-1) * 6);
  --radius-7: calc(var(--radius-1) * 7);
  --radius-8: calc(var(--radius-1) * 8);
  --radius-9: calc(var(--radius-1) * 9);
  --radius-10: calc(var(--radius-1) * 10);
  --radius-quarter: calc(var(--radius-1) / 4);
  --radius-half: calc(var(--radius-1) / 2);
  --spacing-0: 0px;
  --spacing-1: 8px;
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);
  --spacing-8: calc(var(--spacing-1) * 8);
  --spacing-9: calc(var(--spacing-1) * 9);
  --spacing-10: calc(var(--spacing-1) * 10);
  --spacing-quarter: calc(var(--spacing-1) / 4);
  --spacing-half: calc(var(--spacing-1) / 2);
  --negative-size-half: calc(0 - var(--spacing-1) / 2);
  --border-0: 0px;
  --border-1: 1px;
  --border-2: calc(var(--border-1) * 2);
  --border-3: calc(var(--border-1) * 3);
  --border-4: calc(var(--border-1) * 4);
  --elevation-change: 0.2;
  --change-2: calc(1 + calc(var(--elevation-change) * 2));
  --change-3: calc(1 + calc(var(--elevation-change) * 3));
  --change-4: calc(1 + calc(var(--elevation-change) * 4));
  --change-5: calc(1 + calc(var(--elevation-change) * 5));
  --change-6: calc(1 + calc(var(--elevation-change) * 6));
  --change-7: calc(1 + calc(var(--elevation-change) * 7));
  --change-8: calc(1 + calc(var(--elevation-change) * 8));
  --change-9: calc(1 + calc(var(--elevation-change) * 9));
  --elevation-horizontal: 2px;
  --reverse-elevation-horizontal: -2px;
  --elevation-vertical: 2px;
  --reverse-elevation-vertical: -2px;
  --elevation-horizontal-2: calc(var(--elevation-horizontal) * var(--change-2));
  --elevation-horizontal-3: calc(var(--elevation-horizontal) * var(--change-3));
  --elevation-horizontal-4: calc(var(--elevation-horizontal) * var(--change-4));
  --elevation-horizontal-5: calc(var(--elevation-horizontal) * var(--change-5));
  --elevation-horizontal-6: calc(var(--elevation-horizontal) * var(--change-6));
  --elevation-horizontal-7: calc(var(--elevation-horizontal) * var(--change-7));
  --elevation-horizontal-8: calc(var(--elevation-horizontal) * var(--change-8));
  --elevation-horizontal-9: calc(var(--elevation-horizontal) * var(--change-9));
  --elevation-vertical-2: calc(var(--elevation-vertical) * var(--change-2));
  --elevation-vertical-3: calc(var(--elevation-vertical) * var(--change-3));
  --elevation-vertical-4: calc(var(--elevation-vertical) * var(--change-4));
  --elevation-vertical-5: calc(var(--elevation-vertical) * var(--change-5));
  --elevation-vertical-6: calc(var(--elevation-vertical) * var(--change-6));
  --elevation-vertical-7: calc(var(--elevation-vertical) * var(--change-7));
  --elevation-vertical-8: calc(var(--elevation-vertical) * var(--change-8));
  --elevation-vertical-9: calc(var(--elevation-vertical) * var(--change-9));
  --reverse-elevation-horizontal-2: calc(var(--reverse-elevation-horizontal) * var(--change-2));
  --reverse-elevation-horizontal-3: calc(var(--reverse-elevation-horizontal) * var(--change-3));
  --reverse-elevation-horizontal-4: calc(var(--reverse-elevation-horizontal) * var(--change-4));
  --reverse-elevation-horizontal-5: calc(var(--reverse-elevation-horizontal) * var(--change-5));
  --reverse-elevation-horizontal-6: calc(var(--reverse-elevation-horizontal) * var(--change-6));
  --reverse-elevation-horizontal-7: calc(var(--reverse-elevation-horizontal) * var(--change-7));
  --reverse-elevation-horizontal-8: calc(var(--reverse-elevation-horizontal) * var(--change-8));
  --reverse-elevation-horizontal-9: calc(var(--reverse-elevation-horizontal) * var(--change-9));
  --reverse-elevation-vertical-2: calc(var(--reverse-elevation-vertical) * var(--change-2));
  --reverse-elevation-vertical-3: calc(var(--reverse-elevation-vertical) * var(--change-3));
  --reverse-elevation-vertical-4: calc(var(--reverse-elevation-vertical) * var(--change-4));
  --reverse-elevation-vertical-5: calc(var(--reverse-elevation-vertical) * var(--change-5));
  --reverse-elevation-vertical-6: calc(var(--reverse-elevation-vertical) * var(--change-6));
  --reverse-elevation-vertical-7: calc(var(--reverse-elevation-vertical) * var(--change-7));
  --reverse-elevation-vertical-8: calc(var(--reverse-elevation-vertical) * var(--change-8));
  --reverse-elevation-vertical-9: calc(var(--reverse-elevation-vertical) * var(--change-9));
  --elevation-blur: 2px;
  --elevation-blur-2: calc(var(--elevation-blur) * var(--change-2));
  --elevation-blur-3: calc(var(--elevation-blur) * var(--change-3));
  --elevation-blur-4: calc(var(--elevation-blur) * var(--change-4));
  --elevation-blur-5: calc(var(--elevation-blur) * var(--change-5));
  --elevation-blur-6: calc(var(--elevation-blur) * var(--change-6));
  --elevation-blur-7: calc(var(--elevation-blur) * var(--change-7));
  --elevation-blur-8: calc(var(--elevation-blur) * var(--change-8));
  --elevation-blur-9: calc(var(--elevation-blur) * var(--change-9));
  --elevation-spread: 2px;
  --elevation-spread-2: calc(var(--elevation-spread) * var(--change-2));
  --elevation-spread-3: calc(var(--elevation-spread) * var(--change-3));
  --elevation-spread-4: calc(var(--elevation-spread) * var(--change-4));
  --elevation-spread-5: calc(var(--elevation-spread) * var(--change-5));
  --elevation-spread-6: calc(var(--elevation-spread) * var(--change-6));
  --elevation-spread-7: calc(var(--elevation-spread) * var(--change-7));
  --elevation-spread-8: calc(var(--elevation-spread) * var(--change-8));
  --elevation-spread-9: calc(var(--elevation-spread) * var(--change-9));
  --base-elevation-1: 0 0 var(--base-elevation-blur) var(--base-elevation-spread);
  --base-elevation-2: 0 0 var(--base-elevation-blur-2) var(--base-elevation-spread-2);
  --base-elevation-3: 0 0 var(--base-elevation-blur-3) var(--base-elevation-spread-3);
  --base-elevation-4: 0 0 var(--base-elevation-blur-4) var(--base-elevation-spread-4);
  --base-elevation-5: 0 0 var(--base-elevation-blur-5) var(--base-elevation-spread-5);
  --base-elevation-6: 0 0 var(--base-elevation-blur-6) var(--base-elevation-spread-6);
  --base-elevation-7: 0 0 var(--base-elevation-blur-7) var(--base-elevation-spread-7);
  --base-elevation-8: 0 0 var(--base-elevation-blur-8) var(--base-elevation-spread-8);
  --base-elevation-9: 0 0 var(--base-elevation-blur-9) var(--base-elevation-spread-9);
  --base-elevation-blur: 2px;
  --base-elevation-blur-2: calc(var(--base-elevation-blur) * var(--change-2));
  --base-elevation-blur-3: calc(var(--base-elevation-blur) * var(--change-3));
  --base-elevation-blur-4: calc(var(--base-elevation-blur) * var(--change-4));
  --base-elevation-blur-5: calc(var(--base-elevation-blur) * var(--change-5));
  --base-elevation-blur-6: calc(var(--base-elevation-blur) * var(--change-6));
  --base-elevation-blur-7: calc(var(--base-elevation-blur) * var(--change-7));
  --base-elevation-blur-8: calc(var(--base-elevation-blur) * var(--change-8));
  --base-elevation-blur-9: calc(var(--base-elevation-blur) * var(--change-9));
  --base-elevation-spread: 2px;
  --base-elevation-spread-2: calc(var(--base-elevation-spread) * var(--change-2));
  --base-elevation-spread-3: calc(var(--base-elevation-spread) * var(--change-3));
  --base-elevation-spread-4: calc(var(--base-elevation-spread) * var(--change-4));
  --base-elevation-spread-5: calc(var(--base-elevation-spread) * var(--change-5));
  --base-elevation-spread-6: calc(var(--base-elevation-spread) * var(--change-6));
  --base-elevation-spread-7: calc(var(--base-elevation-spread) * var(--change-7));
  --base-elevation-spread-8: calc(var(--base-elevation-spread) * var(--change-8));
  --base-elevation-spread-9: calc(var(--base-elevation-spread) * var(--change-9));
  --elevation-rgb: 113, 50, 166;
  --elevation-opacity: 0.04;
  --base-elevation-opacity: 0.04;
  --elevation-0: 0 0 0 0 rgba(0,0,0,0);
  --elevation-1: calc(var(--elevation-horizontal) * var(--change-1)) calc(var(--elevation-vertical) * var(--change-1)) calc(var(--elevation-blur) * var(--change-1)) calc(var(--elevation-spread) * var(--change-1)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-1))), 0 0 calc(var(--base-elevation-blur) * var(--change-1)) calc(var(--base-elevation-spread) * var(--change-1)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-1)));
  --elevation-2: calc(var(--elevation-horizontal) * var(--change-2)) calc(var(--elevation-vertical) * var(--change-2)) calc(var(--elevation-blur) * var(--change-2)) calc(var(--elevation-spread) * var(--change-2)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-2))), 0 0 calc(var(--base-elevation-blur) * var(--change-2)) calc(var(--base-elevation-spread) * var(--change-2)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-2)));
  --elevation-3: calc(var(--elevation-horizontal) * var(--change-3)) calc(var(--elevation-vertical) * var(--change-3)) calc(var(--elevation-blur) * var(--change-3)) calc(var(--elevation-spread) * var(--change-3)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-3))), 0 0 calc(var(--base-elevation-blur) * var(--change-3)) calc(var(--base-elevation-spread) * var(--change-3)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-3)));
  --elevation-4: calc(var(--elevation-horizontal) * var(--change-4)) calc(var(--elevation-vertical) * var(--change-4)) calc(var(--elevation-blur) * var(--change-4)) calc(var(--elevation-spread) * var(--change-4)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-4))), 0 0 calc(var(--base-elevation-blur) * var(--change-4)) calc(var(--base-elevation-spread) * var(--change-4)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-4)));
  --elevation-5: calc(var(--elevation-horizontal) * var(--change-5)) calc(var(--elevation-vertical) * var(--change-5)) calc(var(--elevation-blur) * var(--change-5)) calc(var(--elevation-spread) * var(--change-5)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-5))), 0 0 calc(var(--base-elevation-blur) * var(--change-5)) calc(var(--base-elevation-spread) * var(--change-5)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-5)));
  --elevation-6: calc(var(--elevation-horizontal) * var(--change-6)) calc(var(--elevation-vertical) * var(--change-6)) calc(var(--elevation-blur) * var(--change-6)) calc(var(--elevation-spread) * var(--change-6)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-6))), 0 0 calc(var(--base-elevation-blur) * var(--change-6)) calc(var(--base-elevation-spread) * var(--change-6)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-6)));
  --elevation-7: calc(var(--elevation-horizontal) * var(--change-7)) calc(var(--elevation-vertical) * var(--change-7)) calc(var(--elevation-blur) * var(--change-7)) calc(var(--elevation-spread) * var(--change-7)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-7))), 0 0 calc(var(--base-elevation-blur) * var(--change-7)) calc(var(--base-elevation-spread) * var(--change-7)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-7)));
  --elevation-8: calc(var(--elevation-horizontal) * var(--change-8)) calc(var(--elevation-vertical) * var(--change-8)) calc(var(--elevation-blur) * var(--change-8)) calc(var(--elevation-spread) * var(--change-8)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-8))), 0 0 calc(var(--base-elevation-blur) * var(--change-8)) calc(var(--base-elevation-spread) * var(--change-8)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-8)));
  --elevation-9: calc(var(--elevation-horizontal) * var(--change-9)) calc(var(--elevation-vertical) * var(--change-9)) calc(var(--elevation-blur) * var(--change-9)) calc(var(--elevation-spread) * var(--change-9)) rgba(var(--elevation-rgb), calc(var(--elevation-opacity) * var(--change-9))), 0 0 calc(var(--base-elevation-blur) * var(--change-9)) calc(var(--base-elevation-spread) * var(--change-9)) rgba(var(--elevation-rgb), calc(var(--base-elevation-opacity) * var(--change-9)));
  --bevel-horizontal: 6px;
  --bevel-vertical: 6px;
  --bevel-spread: 1px;
  --bevel-blur: 6px;
  --bevel-light-opacity: 0.3;
  --bevel-dark-opacity: 0.1;
  --bevel-change: 0.08;
  --bevel-0: 0 0 0 0 rgba(0,0,0,0);
  --bevel-1: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 1))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 1))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 1)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 1)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 1))));
  --bevel-2: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 2))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 2))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 2)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 2)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 2))));
  --bevel-3: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 3))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 3))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 3)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 3)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 3))));
  --bevel-4: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 4))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 4))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 4)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 4)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 4))));
  --bevel-5: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 5))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 5))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 5)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 5)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 5))));
  --bevel-6: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 6))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 6))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 6)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 6)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 6))));
  --bevel-7: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 7))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 7))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 7)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 7)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 7))));
  --bevel-8: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 8))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 8))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 8)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 8)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 8))));
  --bevel-9: inset calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 9))) calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 9))) var(--bevel-blur) var(--bevel-spread) rgba(255, 255, 255, var(--bevel-light-opacity)), inset calc(0px - calc(var(--bevel-horizontal) * calc(1 + calc(var(--bevel-change) * 9)))) calc(0px - calc(var(--bevel-vertical) * calc(1 + calc(var(--bevel-change) * 9)))) var(--bevel-blur) var(--bevel-spread) rgba(0,0,0,calc(var(--bevel-dark-opacity) * calc(1 + calc(var(--bevel-change) * 9))));
  --inbevel-horizontal: 6px;
  --inbevel-vertical: 6px;
  --inbevel-spread: 1px;
  --inbevel-blur: 6px;
  --inbevel-light-opacity: 0.3;
  --inbevel-dark-opacity: 0.5;
  --inbevel-change: 0.2;
  --reverse-bevel-1: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 1))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .1))) calc(var(--inbevel-blur) * .9) calc(var(--inbevel-spread) * .9) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .1)) ));
  --reverse-bevel-2: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 2))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .2))) calc(var(--inbevel-blur) * .8) calc(var(--inbevel-spread) * .8) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .2)) ));
  --reverse-bevel-3: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 3))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .3))) calc(var(--inbevel-blur) * .7) calc(var(--inbevel-spread) * .7) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .3)) ));
  --reverse-bevel-4: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 4))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .4))) calc(var(--inbevel-blur) * .6) calc(var(--inbevel-spread) * .6) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .4)) ));
  --reverse-bevel-5: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 5))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .5))) calc(var(--inbevel-blur) * .5) calc(var(--inbevel-spread) * .5) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .5)) ));
  --reverse-bevel-6: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 6))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .6))) calc(var(--inbevel-blur) * .4) calc(var(--inbevel-spread) * .4) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .6)) ));
  --reverse-bevel-7: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 7))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .7))) calc(var(--inbevel-blur) * .3) calc(var(--inbevel-spread) * .3) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .7)) ));
  --reverse-bevel-8: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 8))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .8))) calc(var(--inbevel-blur) * .2) calc(var(--inbevel-spread) * .2) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .8)) ));
  --reverse-bevel-9: inset calc(var(--inbevel-horizontal) * calc(1 - calc(var(--inbevel-change) * 9))) calc(var(--inbevel-vertical) * calc(1 - calc(var(--inbevel-change) * .9))) calc(var(--inbevel-blur) * .1) calc(var(--inbevel-spread) * .1) rgba(0,0,0, calc(var(--inbevel-dark-opacity)  * calc(1 + calc(var(--inbevel-change) * .9)) ));
  --focusBlur: 4;
  --focusBorder: 2px;
  --info: #0066EF;
  --on-info: rgba(255,255,255,1);
  --dm-info: #307CDD;
  --dm-on-info: rgba(18,18,18,1);
  --success: #327D35;
  --on-success: rgba(255,255,255,1);
  --dm-success: #418C44;
  --dm-on-success: rgba(18,18,18,1);
  --warning: #A06B1A;
  --on-warning: rgba(255,255,255,1);
  --dm-warning: #AA701A;
  --dm-on-warning: rgba(18,18,18,1);
  --danger: #D62B2B;
  --on-danger: rgba(255,255,255,1);
  --dm-danger: #D55050;
  --dm-on-danger: rgba(18,18,18,1);
  --primaryFont: Open Sans;
  --secondaryFont: Open Sans;
  --baseFont: 16px;
  --fontWeight-0: unset;
  --fontWeight-1: unset;
  --fontWeight-2: unset;
  --fontWeight-3: unset;
  --fontWeight-4: unset;
  --standard-LineHeight: 160%;
  --header-LineHeight: 110%;
  --sm-LineHeight: 110%;
  --headerChange: 42;
  --headerWeight: 700;
  --Display1FontSize: 76.48px;
  --Display1FontWeight: 400;
  --Display1FontFamily: Open Sans;
  --Display1LetterSpacing: -1.5%;
  --Display1LineHeight: 130%;
  --Display1TextDecoration: none;
  --Display1TextTransform: none;
  --Display2FontSize: 69.76px;
  --Display2FontWeight: 400;
  --Display2FontFamily: Open Sans;
  --Display2LetterSpacing: -0.5%;
  --Display2LineHeight: 130%;
  --Display2TextDecoration: none;
  --Display2TextTransform: none;
  --h1FontSize: 56.32px;
  --h1FontWeight: 400;
  --h1FontFamily: Open Sans;
  --h1LetterSpacing: -0.5%;
  --h1LineHeight: 130%;
  --h1TextDecoration: none;
  --h1TextTransform: none;
  --h2FontSize: 49.6px;
  --h2FontWeight: 400;
  --h2FontFamily: Open Sans;
  --h2LetterSpacing: -0.5%;
  --h2LineHeight: 130%;
  --h2TextDecoration: none;
  --h2TextTransform: none;
  --h3FontSize: 42.88px;
  --h3FontWeight: 400;
  --h3FontFamily: Open Sans;
  --h3LetterSpacing: -0.5%;
  --h3LineHeight: 130%;
  --h3TextDecoration: none;
  --h3TextTransform: none;
  --h4FontSize: 36.16px;
  --h4FontWeight: 400;
  --h4FontFamily: Open Sans;
  --h4LetterSpacing: -0.5%;
  --h4LineHeight: 130%;
  --h4TextDecoration: none;
  --h4TextTransform: none;
  --h5FontSize: 29.44px;
  --h5FontWeight: 400;
  --h5FontFamily: Open Sans;
  --h5LetterSpacing: -0.5%;
  --h5LineHeight: 130%;
  --h5TextDecoration: none;
  --h5TextTransform: none;
  --h6FontSize: 25.72px;
  --h6FontWeight: 400;
  --h6FontFamily: Open Sans;
  --h6LetterSpacing: -0.5%;
  --h6LineHeight: 130%;
  --h6TextDecoration: none;
  --h6TextTransform: none;
  --headerFamily: var(--secondaryFont);
  --bodyFamily: var(--primaryFont);
  --body1FontSize: 16px;
  --body1FontWeight: 500;
  --body1FontFamily: Open Sans;
  --body1LetterSpacing: 2%;
  --body1LineHeight: 160%;
  --body1TextDecoration: none;
  --body1TextTransform: none;
  --body1-boldFontSize: 16px;
  --body1-boldFontWeight: 700;
  --body1-boldFontFamily: Open Sans;
  --body1-boldLetterSpacing: 2%;
  --body1-boldLineHeight: 160%;
  --body1-boldTextDecoration: none;
  --body1-boldTextTransform: none;
  --body2FontSize: 14px;
  --body2FontWeight: 600;
  --body2FontFamily: Open Sans;
  --body2LetterSpacing: 1.75%;
  --body2LineHeight: 160%;
  --body2TextDecoration: none;
  --body2TextTransform: none;
  --body2-boldFontSize: 14px;
  --body2-boldFontWeight: 700;
  --body2-boldFontFamily: Open Sans;
  --body2-boldLetterSpacing: 1.75%;
  --body2-boldLineHeight: 160%;
  --body2-boldTextDecoration: none;
  --body2-boldTextTransform: none;
  --body3FontSize: 18px;
  --body3FontWeight: 500;
  --body3FontFamily: Open Sans;
  --body3LetterSpacing: 2.25%;
  --body3LineHeight: 160%;
  --body3TextDecoration: none;
  --body3TextTransform: none;
  --body3-boldFontSize: 18px;
  --body3-boldFontWeight: 700;
  --body3-boldFontFamily: Open Sans;
  --body3-boldLetterSpacing: 2.25%;
  --body3-boldLineHeight: 160%;
  --body3-boldTextDecoration: none;
  --body3-boldTextTransform: none;
  --subtitle1FontSize: 16px;
  --subtitle1FontWeight: 600;
  --subtitle1FontFamily: Open Sans;
  --subtitle1LetterSpacing: 2%;
  --subtitle1LineHeight: 110%;
  --subtitle1TextDecoration: none;
  --subtitle1TextTransform: none;
  --subtitle2FontSize: 14px;
  --subtitle2FontWeight: 700;
  --subtitle2FontFamily: Open Sans;
  --subtitle2LetterSpacing: 1.75%;
  --subtitle2LineHeight: 110%;
  --subtitle2TextDecoration: none;
  --subtitle2TextTransform: none;
  --captionFontSize: 12px;
  --captionFontWeight: 600;
  --captionFontFamily: Open Sans;
  --captionLetterSpacing: 1.5%;
  --captionLineHeight: 110%;
  --captionTextDecoration: none;
  --captionTextTransform: none;
  --caption-boldFontSize: 12px;
  --caption-boldFontWeight: 700;
  --caption-boldFontFamily: Open Sans;
  --caption-boldLetterSpacing: 1.5%;
  --caption-boldLineHeight: 110%;
  --caption-boldTextDecoration: none;
  --caption-boldTextTransform: none;
  --overlineFontSize: 10px;
  --overlineFontWeight: 600;
  --overlineFontFamily: Open Sans;
  --overlineLetterSpacing: 0.12%;
  --overlineLineHeight: 110%;
  --overlineTextDecoration: none;
  --overlineTextTransform: none;
  --overline-largeFontSize: 14px;
  --overline-largeFontWeight: 600;
  --overline-largeFontFamily: Open Sans;
  --overline-largeLetterSpacing: 1.75%;
  --overline-largeLineHeight: 110%;
  --overline-largeTextDecoration: none;
  --overline-largeTextTransform: none;
  --overline-XLFontSize: 16px;
  --overline-XLFontWeight: 700;
  --overline-XLFontFamily: Open Sans;
  --overline-XLLetterSpacing: 2%;
  --overline-XLLineHeight: 110%;
  --overline-XLTextDecoration: none;
  --overline-XLTextTransform: none;
  --label-1FontSize: 14px;
  --label-1FontWeight: 700;
  --label-1FontFamily: Open Sans;
  --label-1LetterSpacing: 1.75%;
  --label-1LineHeight: 110%;
  --label-1TextDecoration: none;
  --label-1TextTransform: none;
  --label-1-allCapsFontSize: 14px;
  --label-1-allCapsFontWeight: 700;
  --label-1-allCapsFontFamily: Open Sans;
  --label-1-allCapsLetterSpacing: 1.75%;
  --label-1-allCapsLineHeight: 110%;
  --label-1-allCapsTextDecoration: none;
  --label-1-allCapsTextTransform: none;
  --label-2FontSize: 12px;
  --label-2FontWeight: 700;
  --label-2FontFamily: Open Sans;
  --label-2LetterSpacing: 1.5%;
  --label-2LineHeight: 110%;
  --label-2TextDecoration: none;
  --label-2TextTransform: none;
  --label-2-allCapsFontSize: 12px;
  --label-2-allCapsFontWeight: 700;
  --label-2-allCapsFontFamily: Open Sans;
  --label-2-allCapsLetterSpacing: 1.5%;
  --label-2-allCapsLineHeight: 110%;
  --label-2-allCapsTextDecoration: none;
  --label-2-allCapsTextTransform: none;
  --label-smallFontSize: 10px;
  --label-smallFontWeight: 700;
  --label-smallFontFamily: Open Sans;
  --label-smallLetterSpacing: 0.12%;
  --label-smallLineHeight: 110%;
  --label-smallTextDecoration: none;
  --label-smallTextTransform: none;
  --CTAFontSize: 16px;
  --CTAFontWeight: 500;
  --CTAFontFamily: Open Sans;
  --CTALetterSpacing: 2%;
  --CTALineHeight: 110%;
  --CTATextDecoration: none;
  --CTATextTransform: none;
  --CTA-SmallFontSize: 14px;
  --CTA-SmallFontWeight: 600;
  --CTA-SmallFontFamily: Open Sans;
  --CTA-SmallLetterSpacing: 1.75%;
  --CTA-SmallLineHeight: 110%;
  --CTA-SmallTextDecoration: none;
  --CTA-SmallTextTransform: none;
  --smallFontSize: 10.8px;
  --smallFontWeight: 500;
  --smallFontFamily: Open Sans;
  --smallLetterSpacing: 0.13%;
  --smallLineHeight: 110%;
  --smallTextDecoration: none;
  --smallTextTransform: none;
  --small-semiboldFontSize: 10.8px;
  --small-semiboldFontWeight: 700;
  --small-semiboldFontFamily: Open Sans;
  --small-semiboldLetterSpacing: 0.13%;
  --small-semiboldLineHeight: 110%;
  --small-semiboldTextDecoration: none;
  --small-semiboldTextTransform: none;
  --statFontSize: 48px;
  --statFontWeight: 700;
  --statFontFamily: Open Sans;
  --statLetterSpacing: 6%;
  --statLineHeight: 110%;
  --statTextDecoration: none;
  --statTextTransform: none;
  --dropdown-elevation: var(--elevation-2);
  --dropdown-radius: 1;
  --dropdown-focus-bg: linear-gradient(90deg, var(--button) var(--dropdown-focus-theme), var(--transparent) var(--dropdown-focus-theme));
  --dm-dropdown-focus-bg: linear-gradient(90deg, var(--dm-button) var(--dropdown-focus-theme), var(--transparent) var(--dropdown-focus-theme));
  --dropdown-hover-style: 100%;
  --dropdown-bottom-hover-bg: linear-gradient(0deg, var(--button-half) var(--dropdown-focus-theme), var(--transparent) var(--dropdown-focus-theme)) !important;
  --dm-dropdown-bottom-hover-bg: linear-gradient(0deg, var(--dm-button) var(--dropdown-focus-theme), var(--transparent) var(--dropdown-focus-theme)) !important;
  --buttonTypography: var(--CTAFontWeight) var(--CTAFontSize) / var(--CTALineHeight) var(--CTAFontFamily);
  --buttonTextDecoration: var(--CTATextDecoration);
  --buttonTextTransform: var(--CTATextTransform);
  --buttonLetterSpacing: var(--CTALetterSpacing);
  --button-padding: 3;
  --button-border: 2;
  --button-radius: 3;
  --button-minwidth: 5.5;
  --button-height: 5.5;
  --button-elevation: var(--elevation-1);
  --button-bevel: var(--bevel-0);
  --button-shadow: var(--button-elevation), var(--button-bevel);
  --sm-button-height: 4;
  --sm-button-padding: 2;
  --sm-buttonTypography: var(--CTA-SmallFontWeight) var(--CTA-SmallFontSize) / var(--CTA-SmallLineHeight) var(--CTA-SmallFontFamily);
  --sm-buttonTextDecoration: var(--CTA-SmallTextDecoration);
  --sm-buttonTextTransform: var(--CTA-SmallTextTransform);
  --sm-buttonLetterSpacing: var(--CTA-SmallLetterSpacing);
  --groupButton-radius: calc(var(--radius-1) * var(--button-radius) * 1.6);
  --groupButtonBG: #ffffff;
  --on-groupButtonBG: var(--textDark);
  --dm-groupButtonBG: rgba(0,0,0,.6);
  --dm-on-groupButtonBG: var(--dm-dmwhite);
  --chip-minwidth: 80px;
  --chip-height: 5;
  --chip-radius: 2;
  --chip-padding: 2;
  --chip-elevation: var(--elevation-2);
  --chip-bevel: var(--bevel-0);
  --chipTypography: var(--captionFontWeight) var(--captionFontSize) / var(--captionLineHeight) var(--captionFontFamily);
  --chipTextTransform: var(--captionTextTransform);
  --chipLetterSpacing: var(--captionLetterSpacing);
  --switch-height: var(--spacing-3);
  --switch-radius: 3;
  --switch-bar-height: 0.5;
  --switch-bar-radius: 0.5;
  --card-padding: 2;
  --card-gap: 2;
  --card-radius: 3;
  --card-elevation: var(--elevation-2);
  --card-bevel: var(--bevel-0);
  --card-border: var(--border-1);
  --card-border-color: var(--border);
  --card-shadow: var(--card-elevation), var(--card-bevel);
  --modal-radius: 3;
  --modal-elevation: var(--elevation-0);
  --modal-overlay: var(--black);
  --modal-padding: 2;
  --modal-border: var(--spacing-2);
  --modal-shadow: var(--modal-elevation);
  --dmtooltip: ;
  --tooltip-padding: 2;
  --tooltip-border: var(--border-1);
  --tooltip-elevation: 0;
  --toast-radius: 1;
  --toast-padding: 1;
  --toast-elevation: var(--elevation-0);
  --toast-bevel: var(--bevel-0);
  --toast-boxshadow: var(--toast-elevation), var(--toast-bevel);
  --image-elevation: var(--elevation-0);
  --image-radius: 3;
  --inline-image-height: 9;
  --inline-image-radius: 1;
  --image-shadow: var(--image-elevation);
  --avatar-border: 4;
  --avatar-border-lg: 4;
  --avatar-elevation: var(--elevation-0);
  --avatar-shadow: var(--avatar-elevation);
  --sliderhandleHeight: 3;
  --sliderhandleRadius: 1;
  --sliderhandleElevation: var(--elevation-0);
  --sliderbarHeight: 1;
  --barInBevel: None;
  --popoverRadius: 1;
  --popoverElevation: var(--elevation-0);
  --popoverBevel: var(--bevel-0);
  --popoverShadow: var(--popoverElevation), var(--popoverBevel);
  --section-padding: 3;
  --p-padding: 2;
  --footer-padding: 5;
  --copyright-padding: 2;
  --footer: var(--gray-900);
  --on-footer: var(--on-gray-900);
  --dm-footer: var(--dm-gray-900);
  --dm-on-footer: var(--dm-on-gray-900);
  --copyright: var(--nearblack);
  --on-copyright: var(--on-nearblack);
  --dm-copyright: var(--nearblack);
  --dm-on-copyright: var(--dm-on-nearblack);
  --navbarPrimary-padding: 1;
  --navbarSecondary-padding: 1;
  --navbarSecondary-stickyTop: 0;
  --leftNav: var(--gray-100);
  --on-leftNav: var(--on-gray-100);
  --leftNavPadding: var(--spacing-2);
  --hero-padding: 3;
  --hero-heroTitleTypography: var(--Display1FontWeight) var(--Display1FontSize) / var(--Display1LineHeight) var(--Display1FontFamily);
  --hero-heroTitleTransform: var(--Display1TextTransform);
  --hero-heroTitleSpacing: var(--Display1LetterSpacing);
  --hero-heroBodyTypography: var(--body1FontWeight) var(--body1FontSize) / var(--body1LineHeight) var(--body1FontFamily);
  --hero-heroBodyTransform: var(--body1-boldTextTransform);
  --hero-heroBodySpacing: var(--body1-boldLetterSpacing);
  --hero-title-gap: 16px;
  --hero-justify-content: flex-start;
  --tableheaderTypography: var(--label-1FontWeight) var(--label-1FontSize) / var(--label-1LineHeight) var(--label-1FontFamily);
  --tableheaderSpacing: var(--label-1LetterSpacing);
  --tableheaderTransform: var(--label-1TextTransform);
  --tablebodyTypography: var(--body1FontWeight) var(--body1FontSize) / var(--body1LineHeight) var(--body1FontFamily);
  --tablebodySpacing: var(--body1LetterSpacing);
  --tablebodyTransform: var(--body1TextTransform);
  --tableheaderPadding: 1;
  --tablebodyPadding: 1;
  --Info-0: #DDEBFD;
  --on-Info-0: #121212;
  --Info-100: #B4D2FA;
  --on-Info-100: #121212;
  --Info-200: #8AB9F8;
  --on-Info-200: #121212;
  --Info-300: #609FF5;
  --on-Info-300: #121212;
  --Info-400: #3384F2;
  --on-Info-400: #121212;
  --Info-500: #0066EF;
  --on-Info-500: #FFFFFF;
  --Info-600: #004FD1;
  --on-Info-600: #FFFFFF;
  --Info-700: #0039B3;
  --on-Info-700: #FFFFFF;
  --Info-800: #002295;
  --on-Info-800: #FFFFFF;
  --Info-900: #000B76;
  --on-Info-900: #FFFFFF;
  --dm-Info-0: #B3C8E5;
  --dm-on-Info-0: #121212;
  --dm-Info-100: #9CB8DD;
  --dm-on-Info-100: #121212;
  --dm-Info-200: #86A7D3;
  --dm-on-Info-200: #121212;
  --dm-Info-300: #6D95CB;
  --dm-on-Info-300: #121212;
  --dm-Info-400: #5282C3;
  --dm-on-Info-400: #121212;
  --dm-Info-500: #307CDD;
  --dm-on-Info-500: #121212;
  --dm-Info-600: #15449C;
  --dm-on-Info-600: rgba(255,255,255,0.6);
  --dm-Info-700: #0035AB;
  --dm-on-Info-700: rgba(255,255,255,0.6);
  --dm-Info-800: #002295;
  --dm-on-Info-800: rgba(255,255,255,0.6);
  --dm-Info-900: #000B76;
  --dm-on-Info-900: rgba(255,255,255,0.6);
  --Teal-0: #DEF2EC;
  --on-Teal-0: #121212;
  --Teal-100: #B1E1D2;
  --on-Teal-100: #121212;
  --Teal-200: #83CFB8;
  --on-Teal-200: #121212;
  --Teal-300: #53BD9C;
  --on-Teal-300: #121212;
  --Teal-400: #449F7F;
  --on-Teal-400: #121212;
  --Teal-500: #358363;
  --on-Teal-500: #FFFFFF;
  --Teal-600: #266748;
  --on-Teal-600: #FFFFFF;
  --Teal-700: #194D2F;
  --on-Teal-700: #FFFFFF;
  --Teal-800: #0C3416;
  --on-Teal-800: #FFFFFF;
  --Teal-900: #001D00;
  --on-Teal-900: #FFFFFF;
  --dm-Teal-0: #8FD4BE;
  --dm-on-Teal-0: #121212;
  --dm-Teal-100: #7BCDB3;
  --dm-on-Teal-100: #121212;
  --dm-Teal-200: #67C5A8;
  --dm-on-Teal-200: #121212;
  --dm-Teal-300: #53BD9C;
  --dm-on-Teal-300: #121212;
  --dm-Teal-400: #449F7F;
  --dm-on-Teal-400: #121212;
  --dm-Teal-500: #3D8B6B;
  --dm-on-Teal-500: #121212;
  --dm-Teal-600: #265536;
  --dm-on-Teal-600: rgba(255,255,255,0.6);
  --dm-Teal-700: #194D2F;
  --dm-on-Teal-700: rgba(255,255,255,0.6);
  --dm-Teal-800: #0C3416;
  --dm-on-Teal-800: rgba(255,255,255,0.6);
  --dm-Teal-900: #001D00;
  --dm-on-Teal-900: rgba(255,255,255,0.6);
  --Plum-0: #F1E6F8;
  --on-Plum-0: #121212;
  --Plum-100: #E0C8F0;
  --on-Plum-100: #121212;
  --Plum-200: #D0ABE8;
  --on-Plum-200: #121212;
  --Plum-300: #BF8DE0;
  --on-Plum-300: #121212;
  --Plum-400: #AE6FD8;
  --on-Plum-400: #121212;
  --Plum-500: #9C4FCF;
  --on-Plum-500: #FFFFFF;
  --Plum-600: #7B3AAF;
  --on-Plum-600: #FFFFFF;
  --Plum-700: #5B2690;
  --on-Plum-700: #FFFFFF;
  --Plum-800: #3C1373;
  --on-Plum-800: #FFFFFF;
  --Plum-900: #1E0056;
  --on-Plum-900: #FFFFFF;
  --dm-Plum-0: #D8BAEC;
  --dm-on-Plum-0: #121212;
  --dm-Plum-100: #CCA5E6;
  --dm-on-Plum-100: #121212;
  --dm-Plum-200: #C190E1;
  --dm-on-Plum-200: #121212;
  --dm-Plum-300: #B57BDB;
  --dm-on-Plum-300: #121212;
  --dm-Plum-400: #A965D5;
  --dm-on-Plum-400: #121212;
  --dm-Plum-500: #AA56DD;
  --dm-on-Plum-500: #121212;
  --dm-Plum-600: #65328C;
  --dm-on-Plum-600: rgba(255,255,255,0.6);
  --dm-Plum-700: #5B2690;
  --dm-on-Plum-700: rgba(255,255,255,0.6);
  --dm-Plum-800: #3C1373;
  --dm-on-Plum-800: rgba(255,255,255,0.6);
  --dm-Plum-900: #1E0056;
  --dm-on-Plum-900: rgba(255,255,255,0.6);
  --primary: #9C4FCF;
  --primary-half: rgba(156,79,207,0.5);
  --primary-quarter: rgba(156,79,207,0.25);
  --on-primary: #FFFFFF;
  --on-primary-half: rgba(255,255,255,0.5);
  --on-primary-quarter: rgba(255,255,255,0.25);
  --dm-primary: #AA56DD;
  --dm-primary-half: rgba(170,86,221,0.5);
  --dm-primary-quarter: rgba(170,86,221,0.25);
  --dm-on-primary: #121212;
  --dm-on-primary-half: rgba(18,18,18,0.5);
  --dm-on-primary-quarter: rgba(18,18,18,0.25);
  --primary-0: #F1E6F8;
  --on-primary-0: #121212;
  --primary-100: #E0C8F0;
  --on-primary-100: #121212;
  --primary-200: #D0ABE8;
  --on-primary-200: #121212;
  --primary-300: #BF8DE0;
  --on-primary-300: #121212;
  --primary-400: #AE6FD8;
  --on-primary-400: #121212;
  --primary-500: #9C4FCF;
  --on-primary-500: #FFFFFF;
  --primary-600: #7B3AAF;
  --on-primary-600: #FFFFFF;
  --primary-700: #5B2690;
  --on-primary-700: #FFFFFF;
  --primary-800: #3C1373;
  --on-primary-800: #FFFFFF;
  --primary-900: #1E0056;
  --on-primary-900: #FFFFFF;
  --dm-primary-0: #D8BAEC;
  --dm-on-primary-0: #121212;
  --dm-primary-100: #CCA5E6;
  --dm-on-primary-100: #121212;
  --dm-primary-200: #C190E1;
  --dm-on-primary-200: #121212;
  --dm-primary-300: #B57BDB;
  --dm-on-primary-300: #121212;
  --dm-primary-400: #A965D5;
  --dm-on-primary-400: #121212;
  --dm-primary-500: #AA56DD;
  --dm-on-primary-500: #121212;
  --dm-primary-600: #65328C;
  --dm-on-primary-600: rgba(255,255,255,0.6);
  --dm-primary-700: #5B2690;
  --dm-on-primary-700: rgba(255,255,255,0.6);
  --dm-primary-800: #3C1373;
  --dm-on-primary-800: rgba(255,255,255,0.6);
  --dm-primary-900: #1E0056;
  --dm-on-primary-900: rgba(255,255,255,0.6);
  --secondary: #358363;
  --on-secondary: #FFFFFF;
  --dm-secondary: #3D8B6B;
  --dm-on-secondary: #121212;
  --secondary-0: #DEF2EC;
  --on-secondary-0: #121212;
  --secondary-100: #B1E1D2;
  --on-secondary-100: #121212;
  --secondary-200: #83CFB8;
  --on-secondary-200: #121212;
  --secondary-300: #53BD9C;
  --on-secondary-300: #121212;
  --secondary-400: #449F7F;
  --on-secondary-400: #121212;
  --secondary-500: #358363;
  --on-secondary-500: #FFFFFF;
  --secondary-600: #266748;
  --on-secondary-600: #FFFFFF;
  --secondary-700: #194D2F;
  --on-secondary-700: #FFFFFF;
  --secondary-800: #0C3416;
  --on-secondary-800: #FFFFFF;
  --secondary-900: #001D00;
  --on-secondary-900: #FFFFFF;
  --dm-secondary-0: #8FD4BE;
  --dm-on-secondary-0: #121212;
  --dm-secondary-100: #7BCDB3;
  --dm-on-secondary-100: #121212;
  --dm-secondary-200: #67C5A8;
  --dm-on-secondary-200: #121212;
  --dm-secondary-300: #53BD9C;
  --dm-on-secondary-300: #121212;
  --dm-secondary-400: #449F7F;
  --dm-on-secondary-400: #121212;
  --dm-secondary-500: #3D8B6B;
  --dm-on-secondary-500: #121212;
  --dm-secondary-600: #265536;
  --dm-on-secondary-600: rgba(255,255,255,0.6);
  --dm-secondary-700: #194D2F;
  --dm-on-secondary-700: rgba(255,255,255,0.6);
  --dm-secondary-800: #0C3416;
  --dm-on-secondary-800: rgba(255,255,255,0.6);
  --dm-secondary-900: #001D00;
  --dm-on-secondary-900: rgba(255,255,255,0.6);
  --tertiary: #9C4FCF;
  --on-tertiary: #FFFFFF;
  --dm-tertiary: #AA56DD;
  --dm-on-tertiary: #121212;
  --tertiary-0: #F1E6F8;
  --on-tertiary-0: #121212;
  --tertiary-100: #E0C8F0;
  --on-tertiary-100: #121212;
  --tertiary-200: #D0ABE8;
  --on-tertiary-200: #121212;
  --tertiary-300: #BF8DE0;
  --on-tertiary-300: #121212;
  --tertiary-400: #AE6FD8;
  --on-tertiary-400: #121212;
  --tertiary-500: #9C4FCF;
  --on-tertiary-500: #FFFFFF;
  --tertiary-600: #7B3AAF;
  --on-tertiary-600: #FFFFFF;
  --tertiary-700: #5B2690;
  --on-tertiary-700: #FFFFFF;
  --tertiary-800: #3C1373;
  --on-tertiary-800: #FFFFFF;
  --tertiary-900: #1E0056;
  --on-tertiary-900: #FFFFFF;
  --dm-tertiary-0: #D8BAEC;
  --dm-on-tertiary-0: #121212;
  --dm-tertiary-100: #CCA5E6;
  --dm-on-tertiary-100: #121212;
  --dm-tertiary-200: #C190E1;
  --dm-on-tertiary-200: #121212;
  --dm-tertiary-300: #B57BDB;
  --dm-on-tertiary-300: #121212;
  --dm-tertiary-400: #A965D5;
  --dm-on-tertiary-400: #121212;
  --dm-tertiary-500: #AA56DD;
  --dm-on-tertiary-500: #121212;
  --dm-tertiary-600: #65328C;
  --dm-on-tertiary-600: rgba(255,255,255,0.6);
  --dm-tertiary-700: #5B2690;
  --dm-on-tertiary-700: rgba(255,255,255,0.6);
  --dm-tertiary-800: #3C1373;
  --dm-on-tertiary-800: rgba(255,255,255,0.6);
  --dm-tertiary-900: #1E0056;
  --dm-on-tertiary-900: rgba(255,255,255,0.6);
  --background: #FCF9FD;
  --background-secondary: #F8F3FC;
  --border: rgba(0,0,0,0.15);
  --chip: rgba(0,0,0,0.25);
  --on-chip: var(--black);
  --color-drop: var(--Plum-100);
  --group-button-bg: var(--white);
  --line-color: rgba(0,0,0,0.05);
  --surface: var(--white);
  --on-surface: var(--black);
  --on-background: var(--black);
  --dm-background: #121212;
  --dm-background-secondary: #181818;
  --dm-border: rgba(255,255,255,0.15);
  --dm-chip: rgba(255,255,255,0.25);
  --dm-on-chip: var(--white);
  --dm-color-drop: var(--black);
  --dm-group-button-bg: rgba(255,255,255,0.1);
  --dm-line-color: rgba(255,255,255,0.05);
  --dm-surface: #121212;
  --dm-on-background: rgba(255,255,255,0.6);
  --elevation-bg-0: #121212;
  --on-elevation-bg-0: var(--white);
  --elevation-bg-1: #1D1D1D;
  --on-elevation-bg-1: var(--white);
  --elevation-bg-2: #222222;
  --on-elevation-bg-2: var(--white);
  --elevation-bg-3: #242424;
  --on-elevation-bg-3: var(--white);
  --elevation-bg-4: #272727;
  --on-elevation-bg-4: var(--white);
  --elevation-bg-5: #2C2C2C;
  --on-elevation-bg-5: var(--white);
  --elevation-bg-6: #2E2E2E;
  --on-elevation-bg-6: var(--white);
  --elevation-bg-7: #333333;
  --on-elevation-bg-7: var(--white);
  --elevation-bg-8: #353535;
  --on-elevation-bg-8: var(--white);
  --elevation-bg-9: #373737;
  --on-elevation-bg-9: var(--white);
  --gradient1-a: #F1E6F8;
  --on-gradient1-a: #121212;
  --dm-gradient1-a: #D8BAEC;
  --dm-on-gradient1-a: #121212;
  --gradient1-b: #E0C8F0;
  --on-gradient1-b: #121212;
  --dm-gradient1-b: #CCA5E6;
  --dm-on-gradient1-b: #121212;
  --gradient2-a: #B4D2FA;
  --on-gradient2-a: #121212;
  --dm-gradient2-a: #9CB8DD;
  --dm-on-gradient2-a: #121212;
  --gradient2-b: #8AB9F8;
  --on-gradient2-b: #121212;
  --dm-gradient2-b: #86A7D3;
  --dm-on-gradient2-b: #121212;
  --gradient3-a: var(--gray-0);
  --on-gradient3-a: var(--gray-300);
  --dm-gradient3-a: var(--on-gray-300);
  --dm-on-gradient3-a: var(--on-gray-300);
  --gradient3-b: var(--dm-gray-700);
  --on-gradient3-b: var(--dm-on-gray-700);;
  --dm-gradient3-b: var(--black);
  --dm-on-gradient3-b: var(--dm-white);
  --buttonOnWhite: var(--Info-500);
  --onbuttonOnWhite: #FFFFFF;
  --buttonHalfOnWhite: var(--Info-500);
  --buttonOnBlack: var(--Info-500);
  --onbuttonOnBlack: #FFFFFF;
  --buttonHalfOnBlack: var(--Info-500);
  --buttonOnTertiary: #FFFFFF;
  --onbuttonOnTertiary: #121212;
  --onbuttonHalfOnTertiary: rgba(0,0,0,0.5);
  --buttonOnGradient1: #121212;
  --onbuttonOnGradient1: var(--white);
  --buttonHalfOnGradient1: rgba(18,18,18,0.5);
  --buttonOnGradient2: #121212;
  --onbuttonOnGradient2: var(--white);
  --buttonHalfOnGradient2: rgba(18,18,18,0.5);
  --buttonOnGradient3: #121212;
  --onbuttonOnGradient3: #FFFFFF;
  --onbuttonHalfOnGradient3: rgba(0,0,0,0.5);
  --button: var(--Info-500);
  --on-button: #FFFFFF;
  --button-half: rgba(0,102,239,0.5);
  --dmbuttonOnWhite: #121212;
  --dmonbuttonOnWhite: var(--dm-white);
  --dmbuttonHalfOnWhite: rgba(18,18,18,0.5);
  --dmbuttonOnBlack: var(--dm-Info-400);
  --dmonbuttonOnBlack: #121212;
  --dmbuttonHalfOnBlack: var(--dm-Info-400);
  --dmbuttonOnTertiary: rgba(255,255,255,0.6);
  --dmonbuttonOnTertiary: #121212;
  --dmHalfbuttonHalfOnTertiary: rgba(255,255,255,0.3);
  --dmbuttonOnGradient1: #121212;
  --dmonbuttonOnGradient1: var(--dm-white);
  --dmbuttonHalfOnGradient1: rgba(18,18,18,0.5);
  --dmbuttonOnGradient2: #121212;
  --dmonbuttonOnGradient2: var(--dm-white);
  --dmbuttonHalfOnGradient2: rgba(18,18,18,0.5);
  --dmbuttonOnGradient3: rgba(255,255,255,0.6);
  --dmonbuttonOnGradient3: #121212;
  --dmHalfbuttonHalfOnGradient3: rgba(255,255,255,0.3);
  --dm-button: var(--dm-Info-400);
  --dm-on-button: #121212;
  --dm-button-half: rgba(82,130,195,0.5);
  --iconOnWhite: var(--Plum-500);
  --oniconOnWhite: #FFFFFF;
  --iconHalfOnWhite: var(--Plum-500);
  --iconOnBlack: var(--Plum-500);
  --oniconOnBlack: #FFFFFF;
  --iconHalfOnBlack: var(--Plum-500);
  --iconOnTertiary: #FFFFFF;
  --oniconOnTertiary: #121212;
  --oniconHalfOnTertiary: rgba(0,0,0,0.5);
  --iconOnGradient1: #121212;
  --oniconOnGradient1: var(--white);
  --iconHalfOnGradient1: rgba(18,18,18,0.5);
  --iconOnGradient2: #121212;
  --oniconOnGradient2: var(--white);
  --iconHalfOnGradient2: rgba(18,18,18,0.5);
  --iconOnGradient3: #121212;
  --oniconOnGradient3: #FFFFFF;
  --oniconHalfOnGradient3: rgba(0,0,0,0.5);
  --icon: var(--Plum-500);
  --on-icon: #FFFFFF;
  --icon-half: rgba(156,79,207,0.5);
  --dmiconOnWhite: #121212;
  --dmoniconOnWhite: var(--dm-white);
  --dmiconHalfOnWhite: rgba(18,18,18,0.5);
  --dmiconOnBlack: var(--dm-Plum-400);
  --dmoniconOnBlack: #121212;
  --dmiconHalfOnBlack: var(--dm-Plum-400);
  --dmiconOnTertiary: rgba(255,255,255,0.6);
  --dmoniconOnTertiary: #121212;
  --dmHalficonHalfOnTertiary: rgba(255,255,255,0.3);
  --dmiconOnGradient1: #121212;
  --dmoniconOnGradient1: var(--dm-white);
  --dmiconHalfOnGradient1: rgba(18,18,18,0.5);
  --dmiconOnGradient2: #121212;
  --dmoniconOnGradient2: var(--dm-white);
  --dmiconHalfOnGradient2: rgba(18,18,18,0.5);
  --dmiconOnGradient3: rgba(255,255,255,0.6);
  --dmoniconOnGradient3: #121212;
  --dmHalficonHalfOnGradient3: rgba(255,255,255,0.3);
  --dm-icon: var(--dm-Plum-400);
  --dm-on-icon: #121212;
  --dm-icon-half: rgba(169,101,213,0.5);
  --text-gradient-a: #9C4FCF;
  --on-text-gradient-a: #FFFFFF;
  --dm-text-gradient-a: #AA56DD;
  --dm-on-text-gradient-a: #121212;
  --text-gradient-b: #0066EF;
  --on-text-gradient-b: #FFFFFF;
  --dm-text-gradient-b: #307CDD;
  --dm-on-text-gradient-b: #121212;
  --accent: #E0C8F0;
  --on-accent: #121212;
  --dm-accent: #CCA5E6;
  --dm-on-accent: #121212;
  --accent-0: #F1E6F8;
  --on-accent-0: #121212;
  --accent-100: #E0C8F0;
  --on-accent-100: #121212;
  --accent-200: #D0ABE8;
  --on-accent-200: #121212;
  --accent-300: #BF8DE0;
  --on-accent-300: #121212;
  --accent-400: #AE6FD8;
  --on-accent-400: #121212;
  --accent-500: #9C4FCF;
  --on-accent-500: #FFFFFF;
  --accent-600: #7B3AAF;
  --on-accent-600: #FFFFFF;
  --accent-700: #5B2690;
  --on-accent-700: #FFFFFF;
  --accent-800: #3C1373;
  --on-accent-800: #FFFFFF;
  --accent-900: #1E0056;
  --on-accent-900: #FFFFFF;
  --dm-accent-0: #D8BAEC;
  --dm-on-accent-0: #121212;
  --dm-accent-100: #CCA5E6;
  --dm-on-accent-100: #121212;
  --dm-accent-200: #C190E1;
  --dm-on-accent-200: #121212;
  --dm-accent-300: #B57BDB;
  --dm-on-accent-300: #121212;
  --dm-accent-400: #A965D5;
  --dm-on-accent-400: #121212;
  --dm-accent-500: #AA56DD;
  --dm-on-accent-500: #121212;
  --dm-accent-600: #65328C;
  --dm-on-accent-600: rgba(255,255,255,0.6);
  --dm-accent-700: #5B2690;
  --dm-on-accent-700: rgba(255,255,255,0.6);
  --dm-accent-800: #3C1373;
  --dm-on-accent-800: rgba(255,255,255,0.6);
  --dm-accent-900: #1E0056;
  --dm-on-accent-900: rgba(255,255,255,0.6);
  --dropdown-focus-theme: var(--spacing-half);
  --on-dropdown-focus-bg: rgba(18,18,18,1);
  --on-dropdown-hover-bg: var(--on-surface);
  --dropdown-hover-bg: linear-gradient(90deg, var(--button-half) var(--dropdown-focus-theme), var(--transparent) var(--dropdown-focus-theme)) !important;
  --dm-dropdown-focus-theme: var(--spacing-half);
  --dm-on-dropdown-focus-bg: rgba(255,255,255,0.6);
  --dm-on-dropdown-hover-bg: var(--dm-on-surface);
  --dm-dropdown-hover-bg: linear-gradient(90deg, var(--dm-button-half) var(--dm-dropdown-focus-theme), var(--transparent) var(--dm-dropdown-focus-theme)) !important;
  --hotlink: #0066EF;
  --hotlink-visited: rgba(0,102,239,0.9);
  --hotlink-decoration: underline;
  --hotlink-hover-decoration: none;
  --dm-hotlink: #3384F2;
  --dm-hotlink-visited: rgba(51,132,242,0.9);
  --dm-hotlink-decoration: underline;
  --dm-hotlink-hover-decoration: none;
  --hotlinkOnWhite: #0066EF;
  --hotlinkOnWhite-visited: rgba(0,102,239,0.9);
  --hotlinkOnWhite-decoration: none;
  --hotlinkOnWhite-hover-decoration: underline;
  --hotlinkOnBlack: #0066EF;
  --hotlinkOnBlack-visited: rgba(0,102,239,0.9);
  --hotlinkOnBlack-decoration: none;
  --hotlinkOnBlack-hover-decoration: underline;
  --hotlinkOnTertiary: #FFFFFF;
  --hotlinkOnTertiary-visited: rgba(255,255,255,0.8);
  --hotlinkOnTertiary-decoration: none;
  --hotlinkOnTertiary-hover-decoration: underline;
  --hotlinkOnGradient3: #121212;
  --hotlinkOnGradient3-visited: rgba(0,0,0,0.5);
  --input: rgba(254,252,254,0.55);
  --input-disabled: rgba(178,176,179,0.535);
  --on-input: #121212;
  --on-input-disabled: #121212;
  --dm-input: rgba(124,80,153,0.54);
  --dm-on-input: rgba(255,255,255,0.6);
  --dm-input-disabled: rgba(13,13,13,0.515);
  --dm-input-hover: rgba(255,255,255,.12);

}
